@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 2, 2, 28;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 2, 2, 28;
  }
}

body {
  color: #fff;
  background: rgb(var(--background-rgb));
}

