@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 2, 2, 28;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 2, 2, 28;
  }
}

body {
  color: #fff;
  background: rgb(var(--background-rgb));
}

@layer base {
  h1 {
    font-size: 2.25rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.875rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  h5 {
    font-size: 1.125rem;
    font-weight: 600;
  }
  h6 {
    font-size: 0.875rem;
    font-weight: 600;
  }
}
